<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:pattern {"slug":"waterlava/waterlava-core-page-title"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"120px","bottom":"120px","left":"20px","right":"20px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained","contentSize":"1140px"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:120px;padding-right:20px;padding-bottom:120px;padding-left:20px"><!-- wp:post-content {"tagName":"main"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->